export WAN_HOSTNAME=external.domain.com

export LAN_DEV=ens33
export LAN_IP=192.168.2.40
export LAN_NETMASK=255.255.252.0
export LAN_DOMAIN=local.domain

export VPN_PORT=1194
export VPN_PROTO=udp

export VPN_IP=172.23.2.1
export VPN_NETMASK=255.255.255.0
export VPN_DHCP_START=172.23.2.100
export VPN_DHCP_END=172.23.2.220

